body {
  background-color: #000000;
}

.page-header {
    background-color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {

    background-color: #000;
}

h1, h2, h3, h4 {
    font-family: 'courier', serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    position: absolute;
    color: #ffffff;
    bottom: 20px;
    right: 20px;
    font-size: 26pt;
  }

.post {
    color: #ffffff;
    margin-bottom: 70px;
    font-family: 'courier', serif;
}

.post h2 a, .post h2 a:visited {
    color: #ffffff;
    font-family: 'courier', serif;
}

.text {
  position: relative;
  display: inline-block;
  font-family: Monaco, Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 24px;
  color: white;
  min-width: 360px;
}

.text::after {
  content: "";
  position: absolute;
  top: 20px;

  left: 230px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 10px;
  /* Set height to the line height of .text */
  height: 24px;
  /*
  Animation paramaters:
  blink = animation-name,
  1s = animation-duration,
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
